{% extends 'posts_template.html' %}
<main class="flex-grow container mx-auto px-4 py-6 flex flex-col items-center bg-base-200 min-w-full">
  <div class="text-2xl font-bold text-center tracking-wide">Unicorns Spotted in NYC</div>
  <div class="text-xs text-center font-mono mt-2"><i class="fa-solid fa-calendar-day text-secondary"></i></i> 10/3/2024 @ 1:20 AM</div>
  <div class="text-sm text-center font-mono mt-2">A Magical Encounter: Unicorns Running Wild at Midnight in Central Park</div>
  <div class="divider text-xs"><i class="fa-solid fa-angles-down opacity-70"></i></div>
  <img src="https://images.unsplash.com/photo-1518946222227-364f22132616?q=80&w=1374&auto-format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="max-w-3xl outline rounded-lg shadow-2xl" />
  <div class="mt-4 max-w-5xl">
    <!-- Main Content Section -->
    <p class="text-lg">
      No displayed blazonry, unmistakably mutinous
      The mood is disillusionment, shit, even Cindy Lou Who quit
      I'm super stupid, future looking tuna fish and suture kit
      In route to mute the TV and a view without a boot to lick
      Bruised at the nucleus and drooling through the bells of war
      Meet the neighbors when your resume is "skeleton-with-oar"
      "Ummm, that's really cool your poodle made the paper"
      Let's keep it at shoes in a elevator
      He's a hat and coat, floating with no discernible visage
      The villains turn to their homies who mostly turn into crickets
      I'm part of a larger ghosting, I go to work with the wizards
      Who already voted homecoming theme as a burning village
      The damn shame campaign pivot when you in the field
      Thinning blood and newly surfacing disorder, spin the wheel
      Feeders out to slow the roll, reaper on the protocol
      People you confide in will be spotted eating rodents whole
    </p>
  </div>
</main>

<main class="flex-grow container mx-auto px-4 py-6 flex flex-col items-center bg-base-200 min-w-full">
  <div class="text-2xl font-bold text-center tracking-wide">Title of The Post</div>
  <div class="text-xs text-center font-mono mt-2"><i class="fa-solid fa-calendar-day text-secondary"></i></i> 10/3/2024 @ 1:20 AM</div>
  <div class="text-sm text-center font-mono mt-2">A Magical Encounter: Unicorns Running Wild at Midnight in Central Park</div>
  <div class="divider text-xs"><i class="fa-solid fa-angles-down opacity-70"></i></div>
  
  <div class="mt-4 max-w-5xl">
    <!-- Main Content Section -->
    <p class="text-lg">
      No displayed blazonry, unmistakably mutinous
      The mood is disillusionment, shit, even Cindy Lou Who quit
      I'm super stupid, future looking tuna fish and suture kit
      In route to mute the TV and a view without a boot to lick
      Bruised at the nucleus and drooling through the bells of war
      Meet the neighbors when your resume is "skeleton-with-oar"
      "Ummm, that's really cool your poodle made the paper"
      Let's keep it at shoes in a elevator
      He's a hat and coat, floating with no discernible visage
      The villains turn to their homies who mostly turn into crickets
      I'm part of a larger ghosting, I go to work with the wizards
      Who already voted homecoming theme as a burning village
      The damn shame campaign pivot when you in the field
      Thinning blood and newly surfacing disorder, spin the wheel
      Feeders out to slow the roll, reaper on the protocol
      People you confide in will be spotted eating rodents whole
    </p>
  </div>
</main>