{% import "navbar.html" as nav %}
{% import "sidebar.html" as sidebar %}
<!DOCTYPE html>
<html lang="{{ lang }}" data-theme="forest" class="bg-base-300">

<head>

  <!-- HTML Meta Tags -->
  <title>{{ section.title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# Main CSS styling goes here, which is output by Tailwind #}
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="zola-tailwind.spence.es">
  <meta property="twitter:url" content="{{ config.base_url }}">
  <meta name="twitter:title" content="{{ section.title }}">
  <meta name="twitter:description" content="{{ section.description }}">
  <meta name="twitter:image" content="/social_preview.jpg">

  <!-- e.g. for safari tab bar -->
  <meta name="theme-color" content="#10182B" />

</head>

<body class="flex justify-center min-h-screen">
  <div class="flex w-full max-w-7xl relative">
    {{ sidebar::sidebar() }}

    <div class="flex flex-col flex-grow lg:ml-16">
      {{ nav::navbar() }}
      <main class="flex-grow container mx-auto px-4 py-6 flex flex-col items-center bg-base-200 min-w-full">
        <div class="text-2xl font-bold text-center tracking-wide">Title of The Post</div>
        <div class="text-xs text-center font-mono mt-2"><i class="fa-solid fa-calendar-day text-secondary"></i></i> 10/3/2024 @ 1:20 AM</div>
        <div class="text-sm text-center font-mono mt-2">A Magical Encounter: Unicorns Running Wild at Midnight in Central Park</div>
        <div class="divider text-xs"><i class="fa-solid fa-angles-down opacity-70"></i></div>
        <img src="https://images.unsplash.com/photo-1518946222227-364f22132616?q=80&w=1374&auto-format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="max-w-3xl outline rounded-lg shadow-2xl" />
        <div class="mt-4 max-w-5xl">
          <!-- Main Content Section -->
          <p class="text-lg">
            No displayed blazonry, unmistakably mutinous
            The mood is disillusionment, shit, even Cindy Lou Who quit
            I'm super stupid, future looking tuna fish and suture kit
            In route to mute the TV and a view without a boot to lick
            Bruised at the nucleus and drooling through the bells of war
            Meet the neighbors when your resume is "skeleton-with-oar"
            "Ummm, that's really cool your poodle made the paper"
            Let's keep it at shoes in a elevator
            He's a hat and coat, floating with no discernible visage
            The villains turn to their homies who mostly turn into crickets
            I'm part of a larger ghosting, I go to work with the wizards
            Who already voted homecoming theme as a burning village
            The damn shame campaign pivot when you in the field
            Thinning blood and newly surfacing disorder, spin the wheel
            Feeders out to slow the roll, reaper on the protocol
            People you confide in will be spotted eating rodents whole
          </p>
        </div>
      </main>
      <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
      <footer class="footer footer-center bg-base-100 text-base-content p-4 opacity-40 shadow-sm z-[-50]">
        <aside>
          <p class="text-xs">Copyright <span class="font-bold">©</span> '24 <span class="font-bold text-md">||</span>
            George Kenneally <span class="font-bold text-md">||</span> I reserve all rights.</p>
        </aside>
      </footer>
    </div>
  </div>

  <script>
    const modal = document.getElementById('my_modal_3');
    const input = modal.querySelector('input');

    // Function to open the modal
    function openModal() {
      modal.showModal();
      setTimeout(() => input.focus(), 100);
    }

    // Event listener for the keyboard shortcut
    document.addEventListener('keydown', (e) => {
      if ((e.ctrlKey || e.metaKey) && e.key === 'k') {
        e.preventDefault(); // Prevent the default browser action
        openModal();
      }
    });

    modal.addEventListener('show', () => {
      setTimeout(() => input.focus(), 100);
    });

    input.addEventListener('keydown', (e) => {
      if (e.key === 'Escape') {
        modal.close();
      }
    });

    // MutationObserver for focusing the input
    const observer = new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        if (mutation.attributeName === 'open' && modal.open) {
          input.focus();
        }
      });
    });

    observer.observe(modal, { attributes: true });
  </script>

</body>

</html>