{% extends "base.html" %}

{% block content %}
<style type="text/css">
  .section img { transition: transform 0.4s ease-in; }
  .section { transition: transform 0.4s ease-in; }
  .section:hover img { transform: scale(0.95); border-radius: 10px; }
  .section:hover { transform: scale(1.05); }
</style>
<article class="flex-grow container mx-auto px-4 py-6 flex flex-col items-center bg-base-200 min-w-full">
  <div class="text-3xl font-bold text-center tracking-wide">{{ section.title }}</div>
  <div class="text-sm text-center font-mono mt-2">{{ section.description }}</div>
  <div class="divider text-xs"><i class="fa-solid fa-angles-down opacity-70"></i></div>
  {% for page in paginator.pages %}
  <div class="section m-2">
    <a href="{{ page.permalink }}" class="my-2">
      <!-- Card -->
      <div class="flex flex-col bg-base-200 rounded-box bg-neutral max-w-3xl mx-auto">
        <!-- Image -->
        <img src="/posts/{{ page.slug }}/{{ page.extra.image }}" class="max-w-3xl min-w-full" />
        <!-- Body-->
        <div class="flex flex-col gap-3 p-8">
          <div class="flex justify-between items-center">
            {% if page.taxonomies.categories %}
            <div class="text-lg text-accent font-medium">{{ page.taxonomies.categories[0] }}</div>
            {% endif %}
            <span class="text-xs opacity-80 badge-neutral-content badge">{{ page.date }}</span>
          </div>
          <div class="link link-hover text-3xl text-neutral-content font-bold">{{ page.title }}</div>
          <div class="text-md text-neutral-content">{{ page.description }}</div>
        </div>
      </div>
    </a>
  </div>
</article>
{% endfor %}

  {% if paginator %}
    {% if paginator.has_prev %}
      <a href="{{ paginator.prev_page_path }}">Previous</a>
    {% endif %}

    {% if paginator.has_next %}
      <a href="{{ paginator.next_page_path }}">Next</a>
    {% endif %}
  {% endif %}
  
{% endblock content %}